langgraph==0.3.34
langsmith==0.3.34
openai
pathlib
pdfplumber>=0.10.3
pii-data
pii-extract-base
presidio-analyzer
presidio-anonymizer
PyPDF2>=3.0.1
pydantic==2.10.1
pydantic-settings
python-dateutil>=2.8.2
python-dotenv
spacy
typing-extensions
python-docx>=1.0.1
requests>=2.31.0
reportlab>=4.1.0
