openai
pathlib
pdfplumber>=0.10.3
pii-data
pii-extract-base
presidio-analyzer
presidio-anonymizer
PyPDF2
pydantic==2.10.1
pydantic-settings
pypdf
python-dateutil>=2.8.2
python-dotenv
spacy
typing-extensions
